<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl mb-5 text-cyan-500"><%= t("timesheet_entry.create") %></h1>
  <hr class="mb-5">

  <%= render "form", timesheet_entry: @timesheet_entry %>
</div>
